body {
  background-color: #f2faff;
}

.calculator-wrapper {
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  display: block;
  margin: 50px auto;
  max-width: 550px;
  padding: 2em;
  text-align: center;
}

.operation {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.subtraction,
.multiplication,
.division {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.operator,
.button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1px 8px;
  width: 0.8em;
}

.button {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  width: 2.4em;
}

input {
  border: 1px solid black;
  border-radius: 2px;
}
