form {
  margin: 35px auto;
  text-align: center;
}

td {
  padding: 8px;
}

.save-button {
  color: white;
  background-color: #4472c4;
  border: solid 1px #4472c4;
  border-radius: 8pt;
  padding: 8px 12px;
}
