.color-container,
.row-2 {
  display: flex;
  justify-content: space-around;
}

.row-2 {
  margin: 15px auto;
}

.yellow,
.red {
  width: 30%;
}

.number-grid {
  display: grid;
}

.numbers,
.letters {
  background-color: white;
  margin: 5px;
  padding: 10px 20px;
}

.green {
  background-color: #baffc9;
}

.yellow {
  background-color: #ffffba;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.red {
  background-color: #ffb3ba;
}

.blue {
  background-color: #bbe1ff;
  width: 30%;
}

.orange {
  background-color: #ffdfba;
}
