/* Very messy CSS. Not responsive */

.color-container,
.row-2,
.row-3 {
  display: flex;
  justify-content: space-around;
}

.row-2 {
  margin: 15px auto 0px;
}

div.row-2 > div {
  width: 30%;
}

.yellow,
.red {
  width: 30%;
}

.numbers,
.letters {
  background-color: white;
  margin: 5px;
  padding: 10px 20px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.green {
  background-color: #baffc9;
}

.yellow {
  background-color: #ffffba;
}

.red {
  background-color: #ffb3ba;
}

.blue {
  background-color: #bbe1ff;
}

.blue-2 {
  width: 225px;
  position: relative;
  right: 3px;
}

.orange {
  background-color: #ffdfba;
  margin-top: 15px;
  width: 65%;
}
