.container {
  margin-top: 40px;
}

.header {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.card {
  margin: 5% auto;
  max-width: 350px;
  padding: 25px 40px;
}

.correct {
  border: 2px solid #80cc92;
}

.incorrect {
  border: 2px solid #f25457;
}

.question-text {
  margin-bottom: 20px;
}

.answerFeedback {
  margin-top: 20px;
}

button {
  margin: 20px auto 10px;
  transition: all 150 ease-in-out;
}

button:hover {
  background-color: #47b9d7 !important;
  border: #47b9d7 !important;
}

.hidden {
  display: none;
}

.unhidden {
  display: content;
}
